/*Header********/
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 90px;
    padding: 25px;
}


/*Icon*/
.icon{
   width: 62px; 
   height: 50px;
   margin-right: 20px;
   margin-left: 10px;
}
/*fim Icon*/

.logo{
    width: 600px;
    display: flex;
    align-items: center;
}

/*txt*/

.txtLog{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

/*fim txt*/

/*botoes*/

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.link{
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
}


.bLogin{
    border-radius: 5px;
    border: none;
    background-color: #6ba596;
    cursor: pointer;
    width: 250px;
    height: 40px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;

}

.link:hover{
    text-decoration: underline;
}


/*fim botoes*/

/*FIMHeader******/

/*Body*/

.imgContainer{
    width: 80%;
    height: 100%;
}
/*FIMbody*/