/*Header*/

.bDuvidas{
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 40px 20px;
    position: fixed;
    right: 20px;
}

.bSac{
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 40px 20px;
    position: fixed;
    right: 20px;
}

.bConfig{
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 40px 20px;
    position: fixed;
    right: 20px;
}

.bLogin{
    border-radius: 5px;
    border: none;
    background-color: #6ba596;
    cursor: pointer;
    padding: 12px 40px;
    position: fixed;
    right: 20px;
}