/*Header*/
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    min-height: 90px;
    padding: 10px 29px 10px 20px;
}


/*Icon*/
.icon{
   width: 65px; 
   height: 50px;
   margin-right: 20px;
   margin-left: 10px;
}
/*fim Icon*/

.logo{
    width: 600px;
    display: flex;
    align-items: center;
}

/*txt*/

.txtLog{
    font-weight: 800;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 35px;
}

/*fim txt*/

/*botoes*/

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.link{   
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 18px 0px 18px;;
    font-weight: 600;
}



.bLogin{
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: #6ba596;
    cursor: pointer;
    width: 700px;
    height: 40px;
    font-size: 18px;
    margin-left: 25px;
    padding: 10px;
    font-weight: 600;
}

.bLogin:hover{
    background-color: #3b5d54;
    color: white;
}

.link:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    height: 900px;
    width: 100%;
    background-color: black;
    align-items: end;
    justify-content: end;
}

.backgroundContainer{
    height: 900px;
    width: 100%;
    position: absolute;
 
}

.logoContainer{
    position: relative;
    width: 400px;
    height: 150px;
    margin-right: 50px;
}

.main{
    height: 800px;
}

.caixa{
    position: absolute; /* Posição absoluta em relação ao contêiner pai */
    top: 65%; /* Ajusta a posição verticalmente */
    left: 40px; /* Ajusta a posição horizontalmente */
    transform: translateY(-50%); /* Centraliza a forma geométrica */
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo da forma geométrica */
    width: 500px; /* Largura da forma geométrica */
    height: 600px; /* Altura da forma geométrica */
    border-radius: 25px; /* Borda arredondada */
    display: flex; /* Para centralizar o texto verticalmente */
    justify-content: center; /* Para centralizar o texto horizontalmente */
    align-items: center; /* Para centralizar o texto verticalmente */
}

.caixaText {
    color: black; /* Cor do texto */
    font-size: 25px; /* Tamanho da fonte */
    font-family: 'Montserrat'; /* Peso da fonte */
    padding: 8px;
  }

  .caixaTitulo {
    position: absolute;
    top: 36%; /* Posicionamento da nova forma */
    left: 15.25%; /* Posicionamento da nova forma */
    transform: translate(-50%, -50%);
    background-color: #6ba596; /* Cor de fundo da nova forma */
    width: 500px; /* Largura da nova forma */
    height: 50px; /* Altura da nova forma */
    border-radius: 50px; /* Borda arredondada */
    display: flex; /* Para centralizar o texto verticalmente */
    justify-content: center; /* Para centralizar o texto horizontalmente */
    align-items: center; /* Para centralizar o texto verticalmente */
  }  

  .titleText {
    color: black; /* Cor do texto */
    font-size: 30px; /* Tamanho da fonte */
    font-weight:500;
    font-family: 'montserrat'; /* Peso da fonte */
  }